*{
  box-sizing: border-box !important;
}

.navbar--apple .nav-link {
  color: #ffffff !important;
  font-size: 13px;
}
#content{
  
  min-height: 95vh !important;
}
.infoExam{
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

.logo_quiz{
  width: 150px !important;
  height: 70px;
  display: flex;
}

.navbar--apple .apple-logo {
  font-size: 21px;
  line-height: 0;
}

.navbar--apple {
  background-color: initial !important;
}

.navbar--apple .navbar-toggler {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1;
  border: 0;
  border-radius: 0;
}

.navbar--apple .navbar-toggler-icon {
  background-image: none;
  line-height: 2rem;
}

@media (max-width: 576px) {
  .navbar--apple #menu {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 576px) {
  .navbar--apple #menu li a {
    font-size: 17px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
}

.navbar--opened .navbar--apple::before {
  height: 100%;
}

.navbar--apple::before {
  background: rgba(0,0,0,0.8);
  transition: height 0.2s ease-in;
  height: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  z-index: -1;
}

@media (min-width: 768px) {
  .navbar--apple::before {
    height: 50px !important;
  }
}


.navbar--opened .navbar--apple::before {
  background: rgba(0,0,0,0.93);
}


#title-editor {
  outline: none;
}

[contenteditable=true] {
  outline: none;
}

[contenteditable=true] {
  outline: none;
}

#title-toolbar {
  display: none;
}

#description-toolbar {
  display: none;
}

a.active{
  margin-left: 10px;
  font-size: 20px;
  color: rgb(12, 91, 202) !important;
  background-color: #f8f9fa;
  border-top-left-radius: 25%;
  /*border-bottom-left-radius: 20%;
  border-top-right-radius: -20px;
  border-bottom-right-radius: -20px;*/
}

.spn{
  cursor: pointer;
}

.active{
  margin-right: 10px;
  font-weight: bold;
}

.container-centered{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}